In [1]:
import sys
import os

# Add the parent directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

# Now you can import from src
from src.data_utils import load_and_process_taxi_data

import pandas as pd

import dagshub
dagshub.init(repo_owner="Sheethal-123", repo_name="sp25_taxi", mlflow=True)

Accessing as Sheethal-123

Initialized MLflow to track repo "Sheethal-123/sp25_taxi"

Repository Sheethal-123/sp25_taxi initialized!

In [2]:
rides1 = load_and_process_taxi_data(year=2022)
rides2=(load_and_process_taxi_data(year=2023))
rides = pd.concat([rides1,rides2],ignore_index=True)

File already exists for 2022-01.
Loading data for 2022-01...
Total records: 2,463,931
Valid records: 2,415,141
Records dropped: 48,790 (1.98%)
Successfully processed data for 2022-01.
File already exists for 2022-02.
Loading data for 2022-02...
Total records: 2,979,431
Valid records: 2,921,118
Records dropped: 58,313 (1.96%)
Successfully processed data for 2022-02.
File already exists for 2022-03.
Loading data for 2022-03...
Total records: 3,627,882
Valid records: 3,551,986
Records dropped: 75,896 (2.09%)
Successfully processed data for 2022-03.
File already exists for 2022-04.
Loading data for 2022-04...
Total records: 3,599,920
Valid records: 3,522,113
Records dropped: 77,807 (2.16%)
Successfully processed data for 2022-04.
File already exists for 2022-05.
Loading data for 2022-05...
Total records: 3,588,295
Valid records: 3,509,056
Records dropped: 79,239 (2.21%)
Successfully processed data for 2022-05.
File already exists for 2022-06.
Loading data for 2022-06...
Total records: 3,558,124
Valid records: 3,479,411
Records dropped: 78,713 (2.21%)
Successfully processed data for 2022-06.
File already exists for 2022-07.
Loading data for 2022-07...
Total records: 3,174,394
Valid records: 3,096,271
Records dropped: 78,123 (2.46%)
Successfully processed data for 2022-07.
File already exists for 2022-08.
Loading data for 2022-08...
Total records: 3,152,677
Valid records: 3,072,196
Records dropped: 80,481 (2.55%)
Successfully processed data for 2022-08.
File already exists for 2022-09.
Loading data for 2022-09...
Total records: 3,183,767
Valid records: 3,106,359
Records dropped: 77,408 (2.43%)
Successfully processed data for 2022-09.
File already exists for 2022-10.
Loading data for 2022-10...
Total records: 3,675,411
Valid records: 3,583,466
Records dropped: 91,945 (2.50%)
Successfully processed data for 2022-10.
File already exists for 2022-11.
Loading data for 2022-11...
Total records: 3,252,717
Valid records: 3,165,474
Records dropped: 87,243 (2.68%)
Successfully processed data for 2022-11.
File already exists for 2022-12.
Loading data for 2022-12...
Total records: 3,399,549
Valid records: 3,310,530
Records dropped: 89,019 (2.62%)
Successfully processed data for 2022-12.
Combining all monthly data...
Data loading and processing complete!
File already exists for 2023-01.
Loading data for 2023-01...
Total records: 3,066,766
Valid records: 2,993,140
Records dropped: 73,626 (2.40%)
Successfully processed data for 2023-01.
File already exists for 2023-02.
Loading data for 2023-02...
Total records: 2,913,955
Valid records: 2,845,058
Records dropped: 68,897 (2.36%)
Successfully processed data for 2023-02.
File already exists for 2023-03.
Loading data for 2023-03...
Total records: 3,403,766
Valid records: 3,331,705
Records dropped: 72,061 (2.12%)
Successfully processed data for 2023-03.
File already exists for 2023-04.
Loading data for 2023-04...
Total records: 3,288,250
Valid records: 3,214,922
Records dropped: 73,328 (2.23%)
Successfully processed data for 2023-04.
File already exists for 2023-05.
Loading data for 2023-05...
Total records: 3,513,649
Valid records: 3,435,875
Records dropped: 77,774 (2.21%)
Successfully processed data for 2023-05.
File already exists for 2023-06.
Loading data for 2023-06...
Total records: 3,307,234
Valid records: 3,233,969
Records dropped: 73,265 (2.22%)
Successfully processed data for 2023-06.
File already exists for 2023-07.
Loading data for 2023-07...
Total records: 2,907,108
Valid records: 2,838,637
Records dropped: 68,471 (2.36%)
Successfully processed data for 2023-07.
File already exists for 2023-08.
Loading data for 2023-08...
Total records: 2,824,209
Valid records: 2,758,739
Records dropped: 65,470 (2.32%)
Successfully processed data for 2023-08.
File already exists for 2023-09.
Loading data for 2023-09...
Total records: 2,846,722
Valid records: 2,782,920
Records dropped: 63,802 (2.24%)
Successfully processed data for 2023-09.
File already exists for 2023-10.
Loading data for 2023-10...
Total records: 3,522,285
Valid records: 3,446,406
Records dropped: 75,879 (2.15%)
Successfully processed data for 2023-10.
File already exists for 2023-11.
Loading data for 2023-11...
Total records: 3,339,715
Valid records: 3,267,940
Records dropped: 71,775 (2.15%)
Successfully processed data for 2023-11.
File already exists for 2023-12.
Loading data for 2023-12...
Total records: 3,376,567
Valid records: 3,313,957
Records dropped: 62,610 (1.85%)
Successfully processed data for 2023-12.
Combining all monthly data...
Data loading and processing complete!

In [3]:
temp_rides = rides[rides["pickup_location_id"] == 43]

In [4]:
from src.data_utils import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(temp_rides)
ts_data.head()

C:\Users\sheet\github\sp25_taxi\src\data_utils.py:223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rides["pickup_hour"] = rides["pickup_datetime"].dt.floor("h")

          pickup_hour  pickup_location_id  rides
0 2022-01-01 00:00:00                  43     96
1 2022-01-01 01:00:00                  43     60
2 2022-01-01 02:00:00                  43     22
3 2022-01-01 03:00:00                  43      8
4 2022-01-01 04:00:00                  43      4

In [5]:
ts_data

              pickup_hour  pickup_location_id  rides
0     2022-01-01 00:00:00                  43     96
1     2022-01-01 01:00:00                  43     60
2     2022-01-01 02:00:00                  43     22
3     2022-01-01 03:00:00                  43      8
4     2022-01-01 04:00:00                  43      4
...                   ...                 ...    ...
17515 2023-12-31 19:00:00                  43     55
17516 2023-12-31 20:00:00                  43     72
17517 2023-12-31 21:00:00                  43     50
17518 2023-12-31 22:00:00                  43     28
17519 2023-12-31 23:00:00                  43     34

[17520 rows x 3 columns]

In [6]:
ts_data = ts_data.drop(columns=["pickup_location_id"])

In [7]:
print(ts_data.head())

          pickup_hour  rides
0 2022-01-01 00:00:00     96
1 2022-01-01 01:00:00     60
2 2022-01-01 02:00:00     22
3 2022-01-01 03:00:00      8
4 2022-01-01 04:00:00      4

In [8]:
#pip install pmdarima

In [9]:
from pmdarima import auto_arima

# Find best ARIMA(p, d, q)
model_auto = auto_arima(ts_data["rides"], seasonal=False, stepwise=True, trace=True)

# Print the best parameters
print(model_auto.summary())

Performing stepwise search to minimize aic
 ARIMA(2,0,2)(0,0,0)[0]             : AIC=162977.313, Time=4.30 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=210122.120, Time=0.21 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=165205.279, Time=0.27 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=191455.692, Time=1.51 sec
 ARIMA(1,0,2)(0,0,0)[0]             : AIC=164599.482, Time=2.83 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=164969.807, Time=3.43 sec
 ARIMA(3,0,2)(0,0,0)[0]             : AIC=inf, Time=14.43 sec
 ARIMA(2,0,3)(0,0,0)[0]             : AIC=162484.750, Time=6.34 sec
 ARIMA(1,0,3)(0,0,0)[0]             : AIC=163384.864, Time=4.10 sec
 ARIMA(3,0,3)(0,0,0)[0]             : AIC=162468.514, Time=7.59 sec
 ARIMA(4,0,3)(0,0,0)[0]             : AIC=159187.020, Time=18.03 sec
 ARIMA(4,0,2)(0,0,0)[0]             : AIC=162619.471, Time=6.04 sec
 ARIMA(5,0,3)(0,0,0)[0]             : AIC=162611.454, Time=19.03 sec
 ARIMA(4,0,4)(0,0,0)[0]             : AIC=156857.325, Time=23.83 sec
 ARIMA(3,0,4)(0,0,0)[0]             : AIC=162451.439, Time=11.33 sec
 ARIMA(5,0,4)(0,0,0)[0]             : AIC=inf, Time=23.98 sec
 ARIMA(4,0,5)(0,0,0)[0]             : AIC=161957.722, Time=21.79 sec
 ARIMA(3,0,5)(0,0,0)[0]             : AIC=159024.825, Time=24.34 sec
 ARIMA(5,0,5)(0,0,0)[0]             : AIC=161665.229, Time=25.01 sec
 ARIMA(4,0,4)(0,0,0)[0] intercept   : AIC=158532.574, Time=43.66 sec

Best model:  ARIMA(4,0,4)(0,0,0)[0]
Total fit time: 262.093 seconds
                               SARIMAX Results
==============================================================================
Dep. Variable:                      y   No. Observations:                17520
Model:               SARIMAX(4, 0, 4)   Log Likelihood              -78419.662
Date:                Wed, 05 Mar 2025   AIC                         156857.325
Time:                        03:29:58   BIC                         156927.264
Sample:                             0   HQIC                        156880.354
                              - 17520
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
ar.L1          2.8957      0.021    135.265      0.000       2.854       2.938
ar.L2         -2.8338      0.062    -45.382      0.000      -2.956      -2.711
ar.L3          0.9103      0.062     14.654      0.000       0.789       1.032
ar.L4          0.0276      0.021      1.311      0.190      -0.014       0.069
ma.L1         -2.2414      0.021   -107.077      0.000      -2.282      -2.200
ma.L2          1.3050      0.049     26.527      0.000       1.209       1.401
ma.L3          0.2391      0.038      6.244      0.000       0.164       0.314
ma.L4         -0.2916      0.010    -28.810      0.000      -0.311      -0.272
sigma2       411.5845      2.852    144.314      0.000     405.995     417.174
===================================================================================
Ljung-Box (L1) (Q):                   3.48   Jarque-Bera (JB):              3709.67
Prob(Q):                              0.06   Prob(JB):                         0.00
Heteroskedasticity (H):               0.96   Skew:                             0.34
Prob(H) (two-sided):                  0.14   Kurtosis:                         5.15
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).

In [10]:
from statsmodels.tsa.arima.model import ARIMA

# Fit the best ARIMA model (Example: ARIMA(4, 0, 4) if suggested)
model_arima = ARIMA(ts_data["rides"], order=(4, 0, 4))  # Replace with best (p, d, q)
arima_result = model_arima.fit()

# Print model summary
print(arima_result.summary())

C:\Users\sheet\anaconda3\envs\sp25_taxi\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

                               SARIMAX Results
==============================================================================
Dep. Variable:                  rides   No. Observations:                17520
Model:                 ARIMA(4, 0, 4)   Log Likelihood              -78007.557
Date:                Wed, 05 Mar 2025   AIC                         156035.115
Time:                        03:30:37   BIC                         156112.826
Sample:                             0   HQIC                        156060.704
                              - 17520
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         73.4146      0.780     94.164      0.000      71.887      74.943
ar.L1          1.6913      0.007    249.310      0.000       1.678       1.705
ar.L2          0.2235      0.006     34.628      0.000       0.211       0.236
ar.L3         -1.7064      0.006   -266.684      0.000      -1.719      -1.694
ar.L4          0.7588      0.007    112.176      0.000       0.746       0.772
ma.L1         -1.0889      0.009   -115.649      0.000      -1.107      -1.070
ma.L2         -0.7810      0.009    -90.446      0.000      -0.798      -0.764
ma.L3          1.1449      0.009    130.967      0.000       1.128       1.162
ma.L4         -0.1623      0.009    -17.526      0.000      -0.180      -0.144
sigma2       445.7517      3.470    128.448      0.000     438.950     452.553
===================================================================================
Ljung-Box (L1) (Q):                   1.02   Jarque-Bera (JB):              3673.21
Prob(Q):                              0.31   Prob(JB):                         0.00
Heteroskedasticity (H):               0.96   Skew:                             0.28
Prob(H) (two-sided):                  0.09   Kurtosis:                         5.17
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).

In [11]:
from sklearn.metrics import mean_absolute_error

# Split data into train (80%) and test (20%)
train_size = int(len(ts_data) * 0.8)
train, test = ts_data.iloc[:train_size], ts_data.iloc[train_size:]

# Fit ARIMA on training data
model_arima = ARIMA(train["rides"], order=(4, 0, 4))  # Use optimal (p,d,q)
arima_result = model_arima.fit()

# Forecast for test set
forecast = arima_result.forecast(steps=len(test))

# Compute MAE
mae = mean_absolute_error(test["rides"], forecast)
print("Mean Absolute Error (MAE) for ARIMA:", mae)

C:\Users\sheet\anaconda3\envs\sp25_taxi\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Mean Absolute Error (MAE) for ARIMA: 24.49473499282344

In [12]:
import mlflow
mlflow.set_experiment("model_arima")

# Start an MLflow run
with mlflow.start_run():
        mlflow.log_metric("mean_absolute_error", mae)

2025/03/05 03:31:16 INFO mlflow.tracking.fluent: Experiment with name 'model_arima' does not exist. Creating a new experiment.

üèÉ View run welcoming-mare-293 at: https://dagshub.com/Sheethal-123/sp25_taxi.mlflow/#/experiments/6/runs/7a791cb45a99422e871ebb8dedd73739
üß™ View experiment at: https://dagshub.com/Sheethal-123/sp25_taxi.mlflow/#/experiments/6